<form
  [formGroup]="form"
  class="w-full h-full flex items-center border-2 border-gray-700 rounded-lg gap-5 p-5"
>
  <div class="flex flex-col gap-3">
    <div>
      <p class="pb-1">Habileté:</p>
      <input
        type="text"
        class="input input-bordered input-sm"
        formControlName="craftmanship"
      />
    </div>
    <div>
      <p class="pb-1">Contrôle:</p>
      <input
        type="text"
        class="input input-bordered input-sm"
        formControlName="control"
      />
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <div>
      <p class="pb-1">Niveau:</p>
      <input
        type="text"
        class="input input-bordered input-sm"
        formControlName="level"
      />
    </div>
    <div>
      <p class="pb-1">PS:</p>
      <input
        type="text"
        class="input input-bordered input-sm"
        formControlName="ps"
      />
    </div>
  </div>
</form>
