<div class="m-5 h-full flex flex-col gap-5">
  <div class="flex gap-5">
    <button class="btn btn-outline btn-neutral pl-0" (click)="goBack()">
      <svg
        class="h-6 w-6 fill-current md:h-8 md:w-8"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
        ></path>
      </svg>
      Back
    </button>
    <button class="btn btn-outline btn-neutral" (click)="goHome()">Home</button>
    <button class="btn btn-outline btn-neutral" (click)="debug()">Debug</button>
    <button class="btn btn-outline btn-neutral" (click)="test()">Test</button>
  </div>
  <div class="w-full flex gap-5">
    <div class="w-1/3">
      <app-craft-predict-recipe-stats />
    </div>
    <div class="w-2/3">
      <app-craft-predict-player-stats />
    </div>
  </div>
  <!-- <div class="flex flex-wrap gap-5">
    @for(craft of crafts; track craft.craftActions ){
    <div>
      @for(action of craft.craftActions; track action){
      <p>{{ action }}</p>
      }
      <p class="text-green-300">Progress: {{ craft.currentProgress }}</p>
      <p class="text-blue-300">Quality: {{ craft.currentQuality }}</p>
      <p>Time: {{ craft.time }}s</p>
    </div>
    }
  </div> -->
</div>
